@model List<Repository.Apostas>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Resultados</div>
        <div class="panel-body">
            <div class="table">
                <div class="trow header">
                    <div class="cell">
                        Data da aposta
                    </div>
                    <div class="cell">
                        Numero da aposta
                    </div>
                    <div class="cell">
                        Numero do sorteio
                    </div>
                    <div class="cell">
                        Quantidade de acertos
                    </div>
                    <div class="cell">
                        Numeros acertados
                    </div>
                    <div class="cell">
                        Prêmio
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="trow">
                        <div class="cell" data-title="Data da aposta">
                            @item.DataAposta.ToShortDateString() às @item.DataAposta.ToShortTimeString()
                        </div>
                        <div class="cell" data-title="Numero da aposta">
                            @item.NumeroApostaExibicao
                        </div>
                        <div class="cell" data-title="Numero do sorteio">
                            @if (item.Sorteios != null)
                            {
                                @item.Sorteios.NumeroSorteioExibicao
                            }
                        </div>
                        <div class="cell" data-title="Quantidade de acertos">
                            @if (item.ApostaResultados != null)
                            {
                                @item.ApostaResultados.Acertos
                            }
                        </div>
                        <div class="cell" data-title="Numeros acertados">
                            @if (item.ApostaResultados != null)
                            {
                                @item.ApostaResultados.NumerosAcertados
                            }
                        </div>
                        <div class="cell" data-title="Prêmio">
                            @if (item.ApostaResultados != null)
                            {
                                @item.ApostaResultados.ValorPremio
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
